<% extend('./layouts/layout') %>
<!-- jumbotron -->
<%

if(sum === undefined){
   var sum = 0;
}
%>


<section>
        <div class="jumbotron jumbotron-fluid bg-cover" style="background-image: url(./images/heading-pages-02.jpg)">
            <div class="container text-center text-white">
                <h1 class="display-4"><strong>YOUR SHOPPING CART</strong> </h1>
                
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md text-center alert alert-success alert-rounded">1.輸入訂單資訊</div>
                <div class="col-12 col-md text-center alert alert-white alert-rounded">2.確認訂單資訊</div>
                <div class="col-12 col-md text-center alert alert-white alert-rounded ">3.送出訂單</div>
            </div>
            <div class="row mt-3">
                <div class="col-12 ">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    顯示購物車清單
                                </button>
                                </h5>
                            </div>
                        
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body table-responsive text-nowrap" >
                                        <table class="table" id="app">
                                            <thead>
                                                <tr>
                                                <th scope="col">#</th>
                                                <th scope="col"></th>
                                                <th scope="col">商品名稱</th>
                                                <th scope="col">尺寸</th>
                                                <th scope="col">數量</th>
                                                <th scope="col" class="text-right">價格</th>
                                                </tr>
                                            </thead>
                                            <% 
                                            if(cartCnt > 0){
                                            %>
                                            <tbody >
                                                <tr v-for="(item,index) in cartData" :key="index">
                                                    <th scope="row" class="align-middle text-center">
                                                            <!-- <form :action="'/cart/delete/'+(item.pid)+'/'+(item.size)" method="POST" class="text-center">
                                                                <button type="submit" class="btn btn-danger" :data-pid="item.pid" :data-size="item.size" >
                                                                    <i class="fa fa-trash fa-lg"></i>
                                                                </button>   
                                                            </form> -->
                                                            <button type="submit" class="btn btn-danger" :data-pid="item.pid" :data-size="item.size" :data-rid="index" @click="removeProduct(item.pid,item.size,index)">
                                                                <i class="fa fa-trash fa-lg"></i>
                                                            </button>   

                                                    </th>
                                                    <td class="align-middle text-center">
                                                        <img width="100px" class="img" :src="item.img" alt="">
                                                    </td>
                                                    <td class="align-middle text-center">{{item.pname}}</td> 
                                                    <td class="align-middle text-center">{{item.size}}</td> 
                                                    <td class="align-middle text-center">{{item.cnt}}</td>
                                                    <td class="align-middle text-right">$ {{item.price}}</td>
                                                </tr>
                                            <%}%> 
                                                <tr class="text-right">
                                                    <td colspan="5">
                                                        <strong>合計</strong>
                                                    </td>
                                                    <td class="text-right">
                                                        $ {{sum}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                          </div>
                </div>
               
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center bg-light text-dark py-3 display-4">訂購者資訊</div>
            </div>
            <% if(!login){%>
            <div>
                <div class="col-12 text-center alert alert-warning">請先登入！</div>
            </div>
            <% }%>
            <div class="row mt-1">
                <form class="col-12" action="/cartConfirm" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="userName">姓名</label>
                            <input type="text" class="form-control" id="userName" name="userName" placeholder="請輸入收件者姓名..." value="<%- login ? userInfo.nickname:''%>" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="userEmail">Email</label>
                            <input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="Email" value="<%- login ? userInfo.email : '' %>" readonly>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="userAddress">收件地址</label>
                        <input type="text" class="form-control" id="userAddress" name="userAddress" placeholder="請輸入收件地址..." value="<%- login  ?  userInfo.address : '' %>" readonly>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button id="btnSubmit" type="submit" class="btn btn-primary" <%if(cartCnt < 1 || !login){%> disabled <%}%> >前往確認訂單</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
<script>
        var vm = new Vue({
            el: '#app',
            data: {
                cartData: [] ,
                sum:0  
            },methods: {
                removeProduct:function(pid,size,rowid){                  
                    let urlStr = `/cart/delete/${pid}/${size}`;
                    this.cartData.splice(rowid, 1);
                    $.ajax({
                        url: urlStr,
                        method: 'POST',
                    }).done(function(response){
                        console.log('message:',response);
                        console.log('message_sum:',response.sum);
                        vm.sum = response.sum; 
                        if(response.sum <=0){
                            $('#btnSubmit').attr('disabled', 'disabled');
                        }
                    });
                }
            },created: function () {
                this.sum = JSON.parse('<%- sum %>') ;
                this.cartData = JSON.parse('<%- cartData %>') 
            }
        }) 
    </script>